<div class="dragons-page-types">
	<div id="dragonTypesContainer">
		<div>
			<h3><!-- Edit existing types --></h3>
			<span>
				<label>Search</label>
				<input type="text" onkeyup="searchType(this.value)">
			</span>
		</div>
		{{#types}}
		<div class="dragon-type admin-card" id="dragonType-{{id}}">
			<form method="post" action="/admin/updateDragon" class="interceptable clearfix">
				<div class="dragon-img-container">
					<div 
						class="dragon-img"
						style="background-image:url(/client/assets/images/{{sprite}}">
					</div>
				</div>
				<div class="dragon-basic-stats">
					<div>
						<label>Name</label>
						<input 
							type="text" 
							name="name" 
							value="{{name}}"
						>
					</div>
					<div>
						<label>Sprite</label>
						<input 
							type="text" 
							name="sprite" 
							value="{{sprite}}"
						>
					</div>
					<div>
						<label>Experience worth</label>
						<input 
							type="number" 
							name="experience_worth" 
							value="{{experience_worth}}"
						>
					</div>
					<div>
						<label>Gold worth</label>
						<input 
							type="number" 
							name="gold_worth" 
							value="{{gold_worth}}"
						>
					</div>
					<div>
						<label>Respawn timer</label>
						<input 
							type="number" 
							name="respawn_timer" 
							value="{{respawn_timer}}"
						>
					</div>
				</div>
				<div class="dragon-combat-stats">
					<div>
						<label>Health</label>
						<input 
							type="number" 
							name="max_health" 
							value="{{max_health}}"
						>
					</div>
					<div>
						<label>A1 Damage</label>
						<input 
							type="number" 
							name="a1_damage" 
							value="{{a1_damage}}"

							>
					</div>
					<div>
						<label>A1 Speed</label>
						<input 
							type="number" 
							name="a1_speed" 
							value="{{a1_speed}}"
						>
					</div>
					<div>
						<label>A1 Cooldown</label>
						<input 
							type="number" 
							name="a1_cooldown" 
							value="{{a1_cooldown}}"
						>
					</div>
					<div>
						<label>A1 Range</label>
						<input 
							type="number" 
							name="a1_range" 
							value="{{a1_range}}"
						>
					</div>
				</div>
				<div class="clearfix">
					<input type="hidden" name="id" value="{{id}}">
					<input 
						type="button" class="btn normal"	value="Delete"
						onclick="deleteDragonType({{id}})"
					>
					<input type="submit" class="btn normal"	value="Save">
				</div>
			</form>
		</div>
		{{/types}}
	</div>
</div>

<script src="/client/js/admin/dragons/main.js"></script>
<script>
	(function() {
		const forms = document.querySelectorAll('.interceptable')
		for(let i = 0; i < forms.length; i++) {
			const form = forms[i]
			interceptFormSubmit(form, data => {
				ajax({
					url: data.url,
					method: data.method,
					query: data.query
				})
			})
		}
	})()
</script>