<div class="heroes-page clearfix">
	{{#data}}
	<div class="hero-data clearfix admin-card">
		<div>
			<form method="post" action="/admin/heroes" class="interceptable">
			<div class="hero-data-left">
				<div class="hero-img-container">
					<div class="hero-img" style="background:url(/client/assets/images/{{sprite}})">
					
					</div>
				</div>
				<div>
					<label>Type</label>
					<input type="text" name="type" value="{{type}}">
				</div>
				<div>
					<label>Sprite</label>
					<input type="text" name="sprite" value="{{sprite}}">
				</div>
				<div>
					<label>Base attack</label>
					<input type="number" name="base_attack" value="{{base_attack}}">
				</div>
				<div>
					<label>Base defence</label>
					<input type="number" name="base_defence" value="{{base_defence}}">
				</div>
				<div>
					<label>Base mobility</label>
					<input type="number" name="base_mobility" value="{{base_mobility}}">
				</div>
				<div>
					<label>Base health</label>
					<input type="number" name="base_health" value="{{base_health}}">
				</div>
				<div class="hero-description">
					<label>Description</label>
					<textarea name="description" rows="7" cols="34">{{description}}</textarea>
				</div>
				<div>
					<input type="hidden" name="hero_id" value="{{id}}">
					<input type="submit" value="Save" class="btn normal">
				</div>
			</div>
		</form>
		</div>
		<div class="hero-data-right">
			<div class="add-new-ability-to-hero">
				<p>Add new ability</p>
				<form method="post" action="/admin/addNewAbilityToHero">
					<div>
						<select name="abilityID">
							{{#../allAbilities}}
							<option value="{{id}}">{{name}}</option>
							{{/../allAbilities}}
						</select>
						<input type="hidden" name="heroTypeID" value="{{id}}">
						<input type="submit" value="Add" class="btn normal">
					</div>
				</form>
			</div>
			<p>Aquired abilities</p>
			<div class="hero-abilities clearfix">
			{{#abilities}}
				<div class="hero-ability" id="{{../id}}-{{id}}">
					<label>{{name}}</label>
					<button onclick="removeAbilityFromHero({{../id}}, {{id}})" class="btn">x</button>
				</div>
			{{/abilities}}
			</div>
		</div>
	</div>
	{{/data}}
</div>

<script src="/client/js/admin/heroes/main.js"></script>
<script>
	(function() {
		const forms = document.querySelectorAll('.interceptable')
		for(let i = 0; i < forms.length; i++) {
			const form = forms[i]
			interceptFormSubmit(form, data => {
				ajax({
					url: data.url,
					method: data.method,
					query: data.query
				})
			})
		}
	})()
</script>